@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: c.$C_SHADOW;

  > h2 {
    @include m.fontH2(bold);
  }

  .meals {
    display: block;
  }
}
