@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: c.$C_SHADOW;

  .calories {
    @include m.flex(flex-start, center, row);
    column-gap: 20px;

    > h2 {
      @include m.fontB16(bold);
    }
  }

  .calories + .calories {
    margin-top: 12px;
  }

  .moreInfo {
    margin-top: 12px;

    .contents {
      > li {
        display: grid;
        grid-template-columns: 120px 1fr;

        > p:first-of-type {
          @include m.fontB16(bold);
        }
      }
    }
  }
}
