$C_GRAY_1: #131313;
$C_GRAY_2: #333333;
$C_GRAY_3: #505050;
$C_GRAY_4: #606060;
$C_GRAY_5: #808080;
$C_GRAY_6: #aaaaaa;
$C_GRAY_7: #d3d3d3;
$C_GRAY_8: #ebebeb;
$C_GRAY_9: #f6f6f8;
$C_GRAY_10: #fcfcfc;

$C_BLUE_GRAY_1: #858c97;
$C_BLUE_GRAY_2: #9a9fa8;
$C_BLUE_GRAY_3: #aaafb9;
$C_BLUE_GRAY_4: #c2cad4;
$C_BLUE_GRAY_5: #ced0da;
$C_BLUE_GRAY_6: #ebecf0;

$C_WHITE: #ffffff;
$C_DARK_GRAY: #2f2f37;
$C_LIGHT_GRAY: #f8f8f9;

$C_BLACK: #000000;

$C_RED: #e21818;

$C_PRIMARY_DARK: #387f39;
$C_PRIMARY: #a2ca71;
$C_SECONDARY: #f6e96b;

$C_KAKAO: #fee500;
