@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
  border: 1px solid c.$C_GRAY_7;
  border-radius: 8px 8px 0 0;

  .title {
    @include m.flex(space-between, center, row);
    @include m.fontB16(bold);
    padding: 12px;
    cursor: pointer;
    background-color: c.$C_PRIMARY_LIGHT;
    border-radius: 8px 8px 0 0;

    .chevron {
      transition: transform 0.3s ease-in-out;

      &.isOpen {
        transform: rotate(180deg);
      }
    }
  }

  .content {
    max-height: 0;
    padding: 0 12px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition:
      max-height 0.3s ease-in-out,
      visibility 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      padding-top 0.3s ease-in-out,
      padding-bottom 0.3s ease-in-out;

    &.isOpen {
      max-height: 200px;
      padding: 12px;
      visibility: visible;
      border-top: 1px solid c.$C_GRAY_7;
      opacity: 1;
    }
  }
}
